{% extends 'nav.html' %}
{% block nav %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
      <h1>REGISTRATION</h1>
      {% if messages %}
      {% for i in meesages %}
      {% if i.level == DEFAULT_MESSAGES_LEVEL.SUCCESS %}
      <div class="alert alert-success alert-dismissible">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{i}}
     </div>
      {% endif %}
      {% if i.level == DEFAULT_MESSAGES_LEVEL.ERROR %}
      <div class="alert alert-success alert-dismissible">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{i}}
     </div>
      {% endif %}
      {% endfor %}
     {% endif %}
     <div class="container jumbotron">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <div class="fieldWrapper">
              {{form.pic.error}}
              <label for="{{form.pic.id_for_label}}">Add Picture</label>
              {{form.pic}}
            </div>
          </div>

          <div class="col">
            <div class="fieldWrapper">
              {{form.first.error}}
              <label for="{{form.first.id_for_label}}">Enter FirstName</label>
              {{form.first}}
            </div>
            
            <div class="fieldWrapper">
              {{form.last.error}}
              <label for="{{form.last.id_for_label}}">Enter LastName</label>
              {{form.last}}
            </div>
           
            <div class="fieldWrapper">
              {{form.experience.error}}
              <label for="{{form.experience.id_for_label}}">Enter Experience</label>
              {{form.experience}}
            </div>
          </div>
          <div class="col">
            <div class="fieldWrapper">
              {{form.username.error}}
              <label for="{{form.username.id_for_label}}">Enter Username</label>
              {{form.username}}
            </div>
            
            <div class="fieldWrapper">
              {{form.email.error}}
              <label for="{{form.email.id_for_label}}">Enter Email</label>
              {{form.email}}
            </div>
            <div class="fieldWrapper">
              {{form.password.error}}
              <label for="{{form.password.id_for_label}}">Enter Password</label>
              {{form.password}}
            </div>
          </div>
        </div>
        
        
        
       
       
        
        <button class="btn btn-success">submit</button>
      </form>
    </div>

{% endblock %}